In [253]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Write a Pandas program to create and display a one-dimensional array-like
object containing an array of data using Pandas module.<br>

In [254]:
df = pd.Series(np.arange(0,5))

In [255]:
df.ndim

1

In [256]:
df = pd.DataFrame(np.arange(0,5))
df.ndim

2

2. Write a Pandas program to convert a Panda module Series to Python list
and it's type.<br>

In [257]:
ser = pd.Series([1,2,3,4,5])
ser.tolist()

[1, 2, 3, 4, 5]

3. Write a Pandas program to add, subtract, multiple and divide two Pandas
Series.<br>
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [258]:
a = pd.Series([2, 4, 6, 8, 10])
b = pd.Series([1, 3, 5, 7, 9])

In [259]:
a+b

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [260]:
a-b

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [261]:
a*b

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [262]:
a/b

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [263]:
a@b # matrix mul

190

4. Write a Pandas program to compare the elements of the two Pandas
Series.<br>
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [264]:
a = pd.Series([2,4,6,8,10])
b = pd.Series([1,3,5,7,10])

In [265]:
print(a>b)
print(a<b)
print(a!=b)
print(a==b)

0     True
1     True
2     True
3     True
4    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool
0     True
1     True
2     True
3     True
4    False
dtype: bool
0    False
1    False
2    False
3    False
4     True
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.<br>

In [266]:
dict1 = {'Names':['Ankush','Piyush'],'Age':[23,26]}
df = pd.DataFrame(dict1)
df

    Names  Age
0  Ankush   23
1  Piyush   26

In [267]:
dict1 = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
df = pd.DataFrame([dict1])
df

     a    b    c    d    e
0  100  200  300  400  800

Write a Pandas program to convert a NumPy array to a Pandas series.

In [268]:
nparr = np.array([1,2,3,4,5])
pdDF = pd.DataFrame(nparr)
pdSer =  pd.Series(nparr)
pdDF

   0
0  1
1  2
2  3
3  4
4  5

In [269]:
pdSer

0    1
1    2
2    3
3    4
4    5
dtype: int32

7. Write a Pandas program to change the data type of given a column or a
Series.

In [270]:
df1 = pd.DataFrame([100,200,'python',300.12,400])
print(df1.dtypes)
df1.astype(str)
print(df1.dtypes)

0    object
dtype: object
0    object
dtype: object

8. Write a Pandas program to convert the first column of a DataFrame as a
Series.

In [271]:
df1 = pd.DataFrame({'col1':[1,2,3,4,5],'col2':[2,4,6,8,10],'col3':[3,8,9,12,15]})
df1

   col1  col2  col3
0     1     2     3
1     2     4     8
2     3     6     9
3     4     8    12
4     5    10    15

In [272]:
y = df1['col1'].to_numpy()
type(y)

numpy.ndarray

In [273]:
x = pd.Series(df1['col1']) # both looks same but are different 
type(x)

pandas.core.series.Series

Write a Pandas program to convert a given Series to an array.

In [274]:
x.to_numpy()

array([1, 2, 3, 4, 5], dtype=int64)

Write a Pandas program to convert Series of lists to one Series.

In [275]:
a = pd.Series([1,2,3])
b = pd.Series([4,5,6])
ab = pd.Series([a.tolist(),b.tolist()])
ab = ab.explode()
ab

0    1
0    2
0    3
1    4
1    5
1    6
dtype: object

In [276]:
ab.reset_index(drop=True)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: object

Write a Pandas program to sort a given Series.

In [277]:
df = pd.Series([1,9,2,8,4,8,5,7,6])
df.sort_values()

0    1
2    2
4    4
6    5
8    6
7    7
3    8
5    8
1    9
dtype: int64

Write a Pandas program to add some data to an existing Series.

In [278]:
ser1 = pd.DataFrame([1,2,3,'Python',200.30,23])
ser1[1:2] = 3 # updateing value . can use loc or iloc for bigger data
ser1

        0
0       1
1       3
2       3
3  Python
4   200.3
5      23

In [279]:
ser1.append(pd.Series([2]),ignore_index=True)

C:\Users\ankus\AppData\Local\Temp\ipykernel_19688\3985656177.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser1.append(pd.Series([2]),ignore_index=True)

        0
0       1
1       3
2       3
3  Python
4   200.3
5      23
6       2

Write a Pandas program to create a subset of a given series based on value and
condition.

In [280]:
ser1 = pd.Series(np.arange(1,10))
print(ser1[ser1 > 5])
print(ser1[ser1 < 5])
print(ser1[ser1 == 5])
print(ser1[ser1 != 5])

5    6
6    7
7    8
8    9
dtype: int32
0    1
1    2
2    3
3    4
dtype: int32
4    5
dtype: int32
0    1
1    2
2    3
3    4
5    6
6    7
7    8
8    9
dtype: int32

Write a Pandas program to change the order of index of a given series.

In [281]:
test = ser1.head(5)
test

0    1
1    2
2    3
3    4
4    5
dtype: int32

In [282]:
test.sort_index(ascending=False)

4    5
3    4
2    3
1    2
0    1
dtype: int32

In [283]:
test.reindex([4,0,3,1,2])

4    5
0    1
3    4
1    2
2    3
dtype: int32

Write a Pandas program to create the mean and standard deviation of the data of a
given Series.

In [284]:
ser1.mean()

5.0

In [285]:
round(ser1.std(),2)

2.74

Write a Pandas program to get the items of a given series not present in another given
series.

In [286]:
a = pd.Series([1,2,3,4,5,6])
b = pd.Series([4,5,6,7,8,9])
a[~a.isin(b)]

0    1
1    2
2    3
dtype: int64

Write a Pandas program to get the items which are not common of two given series.

In [287]:
a[~a.isin(b)].tolist()

[1, 2, 3]

In [288]:
b[~b.isin(a)].to_list()

[7, 8, 9]

In [289]:
df = pd.Series([a[~a.isin(b)].tolist(),b[~b.isin(a)].to_list()])
df = df.explode()
df.reset_index(drop=True)

0    1
1    2
2    3
3    7
4    8
5    9
dtype: object

Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and
maximum of a given series.

In [290]:
import pandas as pd
import numpy as np

# Create a Pandas Series (you can replace this with your own data)
data = pd.Series([10, 15, 20, 25, 30, 35, 40, 45, 50, 100])


# Using Describe 
des = data.describe()

# Calculate statistical measures
mean = data.mean()
median = data.median()
mode = data.mode()
min_value = data.min()
max_value = data.max()
q25 = data.quantile(0.25)
q50 = data.quantile(0.50)
q75 = data.quantile(0.75)
iqr = q75 - q25

# Calculate critical values for outliers on both sides
lower_bound = q25 - 1.5 * iqr
upper_bound = q75 + 1.5 * iqr

# Display the results
print("Describe:\n",des)
print("Mean:", mean)
print("Median:", median)
print("Mode:", mode.tolist())
print("Minimum:", min_value)
print("Maximum:", max_value)
print("25th Percentile (Q1):", q25)
print("50th Percentile (Q2):", q50)
print("75th Percentile (Q3):", q75)
print("Interquartile Range (IQR):", iqr)
print("Lower Bound for Outliers:", lower_bound)
print("Upper Bound for Outliers:", upper_bound)

Describe:
 count     10.000000
mean      37.000000
std       25.625508
min       10.000000
25%       21.250000
50%       32.500000
75%       43.750000
max      100.000000
dtype: float64
Mean: 37.0
Median: 32.5
Mode: [10, 15, 20, 25, 30, 35, 40, 45, 50, 100]
Minimum: 10
Maximum: 100
25th Percentile (Q1): 21.25
50th Percentile (Q2): 32.5
75th Percentile (Q3): 43.75
Interquartile Range (IQR): 22.5
Lower Bound for Outliers: -12.5
Upper Bound for Outliers: 77.5

In [291]:
imp = pd.DataFrame([data.describe()]) # Easier Way to get iqr and upper bound and lower bound 
imp

   count  mean        std   min    25%   50%    75%    max
0   10.0  37.0  25.625508  10.0  21.25  32.5  43.75  100.0

In [292]:
iqr = imp['75%'] - imp['25%'] 
iqr

0    22.5
dtype: float64

In [293]:
lb = imp['25%'] - 1.5 * iqr
ub = imp['75%'] + 1.5 * iqr

In [294]:
lb,ub

(0   -12.5
 dtype: float64,
 0    77.5
 dtype: float64)

Write a Pandas program to calculate the frequency counts of each unique value of a
given series.

In [295]:
ser1 = pd.Series([1,1,1,2,2,2,3,3,3,4,4,4])
ser1.value_counts()

1    3
2    3
3    3
4    3
dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace
everything else as 'Other' in the series.

In [304]:
ser1 = pd.Series([1,1,1,1,2,2,2,2,2,2,2,3,3,3,4,4,4])
ser1.value_counts().index[0]  # the one with biggest frqnuency is always comes at first index

2

In [309]:
ser1 = pd.Series([1,1,1,2,2,2,2,2,2,2,3,3,3,4,4,4,4,4,4,4,4,4,4])
ser1.value_counts()

4    10
2     7
1     3
3     3
dtype: int64

In [307]:
ser1 = pd.Series([1,1,1,1,2,2,3,3,3,3,3,3,3,3,3,4,4,4])
ser1.value_counts()

3    9
1    4
4    3
2    2
dtype: int64

Write a Pandas program to find the positions of numbers that are multiples of 5 of a
given series.

In [330]:
ser = pd.Series(np.arange(1,51))
ser[ser%5 == 0]

4      5
9     10
14    15
19    20
24    25
29    30
34    35
39    40
44    45
49    50
dtype: int32

Write a Pandas program to extract items at given positions of a given series.

In [335]:
ser.iloc[2]

3

Write a Pandas program to get the positions of items of a given series in another
given series.

In [345]:
ser1 = pd.Series([1,2,3,4,5,6,7,8,9,10])
ser2 = pd.Series([1,3,5,7])
ser1[ser1.isin(ser2)]

0    1
2    3
4    5
6    7
dtype: int64

Write a Pandas program convert the first and last character of each word to upper
case in each word of a given series.

In [374]:
ser1 = pd.Series(['ankush','piyush','ram','shyam'])
for i in range(len(ser1)):
    ser1[i] = ser1[i][0].upper() + ser1[i][1:-1] + ser1[i][-1].upper()
ser1

0    AnkusH
1    PiyusH
2       RaM
3     ShyaM
dtype: object

25. Write a Pandas program to calculate the number of characters in each word in a given
series.

In [375]:
for i in range(len(ser1)):
    print(len(ser1[i]))

6
6
3
5

26. Write a Pandas program to compute difference of differences between consecutive
numbers of a given series.

In [406]:
a = pd.Series([5,6,2,7,9,2,4,8,0,4])

s = 0
for i in range(len(a)-1):
    x = (a[i+1])-a[i]
    n = x - s 
    print(f"First Diff ({a[i+1]}) - ({a[i]}): ",x)
    print(f"Second Diff ({x})-({s}): ",n)
    s = x

First Diff (6) - (5):  1
Second Diff (1)-(0):  1
First Diff (2) - (6):  -4
Second Diff (-4)-(1):  -5
First Diff (7) - (2):  5
Second Diff (5)-(-4):  9
First Diff (9) - (7):  2
Second Diff (2)-(5):  -3
First Diff (2) - (9):  -7
Second Diff (-7)-(2):  -9
First Diff (4) - (2):  2
Second Diff (2)-(-7):  9
First Diff (8) - (4):  4
Second Diff (4)-(2):  2
First Diff (0) - (8):  -8
Second Diff (-8)-(4):  -12
First Diff (4) - (0):  4
Second Diff (4)-(-8):  12